body{
  color: #262626;
}
p {
  margin: 0;
}
pre {
  white-space: pre-wrap;
}
.app-header {
  height: 50px;
  position: fixed;
  left: 0px;
  background: @white-color;
  right: 0;
  z-index: 1;
  background-color: #FAFAFA;
  border-bottom: #E6E6E6 1px solid;
  >div{
    padding: 5px 20px;
    line-height: 40px;
  }
  &-title{
    font-family: monospace;
    font-size: 22px;
  }
}

.app-container {
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 0px;
  top: 50px;
  overflow: auto;
}


.demo-doc{
  p {
    margin: 15px 0;
  }

  code{
    padding: 10px;
    background: @gray2-color;
    border-radius: 2px;
    display: block;
  }
  li{
    margin: 5px 0;
  }
  a{
    margin: 0 10px;
    display: inline-block;
  }
}


.content-body{
  width: 90%;
  margin: 0px auto;

  &-title{
    padding: 20px 0;
    position: relative;
    border-bottom: #E6E6E6 1px solid;
  }


  a {
    color: inherit;
    &:hover{
      text-decoration: underline;
      color: inherit;
    }
  }
}
.project{
    &-title{
      font-size: 17px;
    }
    @width: 40px;
    &-author{
      color: @dark-color;
      background: @gray4-color;
      border: @border;
      height: @width;
      width: @width;
      text-align: center;
      line-height: @width - 2px;
      border-radius: 25px;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      text-transform: Uppercase;
    }
  }



::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(113, 113, 113, 0.06);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: @primary-color;
  border-radius: 12px;
}
.h-form .h-form-item-error{
  font-size: 12px;
}