body{
  color: #262626;
}
.app-header {
  height: 50px;
  position: absolute;
  left: 0px;
  background: @white-color;
  right: 0;
  z-index: 1;
  background-color: #FAFAFA;
  border-bottom: #E6E6E6 1px solid;
}

@menu-color: #3B4054;

.app-left {
  overflow-y: auto;
  width: 150px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
  background: linear-gradient(to bottom, #d41944, #6b4268, #443156);

  .app-menu-header{
    height: 50px;
  }
  .h-menu-dark{
    font-size: 13px;
    background: transparent;
    .h-menu-li-selected{
      background: rgba(255, 255, 255, 0.27);
    }
    .h-menu-ul{
      background: rgba(255, 255, 255, 0.07);
    }
  }
}
.app-body {
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 0px;
  top: 50px;
  overflow: auto;
}


.demo-doc{
  p {
    margin: 15px 0;
  }

  code{
    padding: 10px;
    background: @gray2-color;
    border-radius: 2px;
    display: block;
  }
  li{
    margin: 5px 0;
  }
  a{
    margin: 0 10px;
    display: inline-block;
  }
}


.content-body{
  max-width: 1200px;
  margin: 10px auto;

  &-title{
    padding: 20px 0;
    font-weight: bold;
  }


  a {
    color: inherit;
    &:hover{
      text-decoration: underline;
      color: inherit;
    }
  }
}